<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            background-image: url('/images/image3.jpg');
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .result-container {
            margin-top: 20px;
        }

        .result-container p {
            margin: 5px 0;
            padding: 5px;
            background-color: #f0f0f0;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Live Result</h1>
        <div class="result-container">
            <% candidates.forEach((candidate, index) => { %>
                <p><%= candidate.party_name %>: <%= candidate.votes %></p>
            <% }); %>
        </div>
    </div>
</body>

</html>
